<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.element.facex">

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CamTheme.Full.Light">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CamTheme.Blue.ActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.element.camera.ElementFaceEnrollActivity"
            android:clearTaskOnLaunch="true"
            android:hardwareAccelerated="true" />

        <activity
            android:name="com.element.camera.ElementFaceAuthActivity"
            android:clearTaskOnLaunch="true"
            android:hardwareAccelerated="true" />

    </application>
</manifest>
